<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome to GROUP NJ 1940
			{% endblock %}
		</title>
		{% block scripts %}{% endblock %}
		{% block styles %}{% endblock %}
		<link rel="icon" href="{{ asset('public/images/tlogo.ico') }}" type="image/x-icon" src=""/>
		<link rel="stylesheet" href="/public/css/frontend.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/MenuMgActions.js') }}"></script>
	</head>
	<body>
		 <video autoplay muted loop id="myVideo" style="position: fixed;right: 0;bottom: 0; min-width: 100%; min-height: 100%;">
			<source src="/public/images/video.mp4" type="video/mp4">
		</video> 
		<div id="mainCtsContainer" class="mainCtsContainer">
			<div id="mainCtsLeft" class="mainCtsLeft">

				{% for key, item in allMenus  %}

					{% if item|length == 1 %}
						<a href="{{(item.menuRoute)? item.menuRoute : '#'}}" class="childMenu_a_stl" id={{"childMenu"~key}}>{{item.title}}</a>
						<br><br>
					{% endif %}
					{% if item|length >= 2 %}
						<span>
							<a href=" {{(item.0.menuRoute)? item.0.menuRoute : '#' }}" class="parentMenu_a" id={{"link"~key}}>{{item.0.title}}</a>
							{# <br><a style="color:white;" class="childMenu_a" id={{"childMenu"~key}}>|</a>
																			<br><a style="color:white;" class="childMenu_a" id={{"childMenu"~key}} >|</a> #}
						</span><br>
						{% for item2 in item.1  %}
							<span>&nbsp;&nbsp;
								<a href=" {{(item2.menuRoute)? item2.menuRoute : '#' }}" class="childMenu_a" id={{"childMenu"~key}}>
									<span>{{item2.title}}</span>
								</a>
							</span><br class="childMenu_br" id={{"childMenu_br"~key}}>
						{% endfor %}
						<br>
					{% endif %}

				{% endfor %}

			</div>
			<div id="mainCtsImage"class="mainCtsImage"> {% block image %}{% endblock %}</div>
			<div class="mainCtsContent"> {% block contents %}{% endblock %}</div>
			{# <div id="mainCtsCenter"> #}
				{# <div id="mainCtsImage"> {% block image %}{% endblock %}
					</div>
					<div class="contentbody"> {% block contents %}{% endblock %}
						</div> #}

						<div class="fdfooter">
							<div class="box">
								<div class="footer_a">
									Phone :+2370000000
								</div>
								<div class="footer_a">
									Email :xxx@groupnj1940.com
								</div>
								{% for key, item in allMenus  %}

									{% if item|length == 1 %}
										<div>
											<a href="{{(item.menuRoute)? item.menuRoute : '#'}}" class="footer_a">{{item.title}}</a>
											<br><br>
										</div>
									{% endif %}
									{% if item|length >= 2 %}
										<div>
											<span>
												<a href=" {{(item.0.menuRoute)? item.0.menuRoute : '#' }}" class="footer_a">{{item.0.title}}</a>
												<br><a style="color:white;">|</a>
												<br><a style="color:white;">|</a>
											</span><br>
											{% for item2 in item.1  %}
												<span>
													<a href=" {{(item2.menuRoute)? item2.menuRoute : '#' }}">|__<span class="footer_a">{{item2.title}}</span>
													</a>
												</span><br>
											{% endfor %}
											<br>
										</div>

									{% endif %}

								{% endfor %}
							</div>
						</div>

					{# </div> #}

					<div id="mainCtsRight"><div style=" boder:1px solid #000; width:30%;" class="mainCtsRight">Advertising</div></div>
				</div>
			</body>
		</html>
	</div>
</body></html></div></body></html></body></html>
