{% extends "@frontend/groupnj_services.html.twig"%}
{# {% block styles %}
	<link rel="stylesheet" href="{{asset('public/css/frontdSlider.css')}}">
	<link rel="stylesheet" href="{{asset('public/css/frontend.css')}}">
	<link rel="stylesheet" href="{{asset('public/css/fdservice.css')}}">
{% endblock %} #}
{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/frontdSlider.js') }}"></script>

{% endblock %}
{# {% block image %}{% endblock %} #}

{% block contents %}
	<div class="fdfarming">
		<br><br>

		<h2>
			{{ "Service: "~ title}}
		</h2><br><br>

		<div class="details">
			{% for item in contents %}
				<div class="details about">
					<div>
						<h2>{{ item.title}}</h2>
					</div><br>
					<div class="cts">{{ item.contentText}}</div><br>
					<div class="ctsimg"><img src="/public/contentimages/{{ item.picture}}">
					</div><br>

				</div>
			{% endfor %}

		</div><br>
		<hr>
		<br><br><br>
		<h2>
			Order services of : [
			{{ title}}
			]</h2>
		<br>
		<div class="servicesOrder">
			<form method="post" action="?">
				<label for="firstname">
					Firstname:
				</label><br>
				<input name="firstname" type="text"><br><br>
				<label for="lastname">
					Lastname:
				</label><br>
				<input name="lasttname" type="text"><br><br>
				<label for="lastname">
					Description:
				</label><br>
				<textarea row="500" col="10"></textarea><br><br>
				<input type="submit">
			</form>

			In construction

		</div>
	</div>

{% endblock %}
