{% extends '@backend/backendmanagement.html.twig' %}
{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/employeesActivities.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/utils.js') }}"></script>


{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{{asset('public/css/backendcontent.css')}}">
	<link rel="stylesheet" href="{{asset('public/css/employeesActivities.css')}}">

{% endblock %}
{% block backendcontentright %}

	<div class="tableData">
		<h2>{{value}}</h2>
		<div class="tableFilters">
			
				<label for="title">Title:</label>
				<input id="title" placeholder="Search for title.." onkeyup="projectTableFilter('allProjectTable')"/>
				<spacer type=horizontal size=50>
				<label for="createDate">Create date:</label>
				<input id="ctDate" placeholder="Search for create date.." onkeyup="projectTableFilter('allProjectTable')"/>
				<spacer type=horizontal size=50>
				<label for="startDate">Start date:</label>
				<input id="stDate" placeholder="Search for start date.." onkeyup="projectTableFilter('allProjectTable')"/>
				<br><br>
				<label for="endDate">End date:</label>
				<input id="edDate" placeholder="Search for end date.." onkeyup="projectTableFilter('allProjectTable')"/>
				<spacer type=horizontal size=50>
				<label for="createBy">Create by:</label>
				<input id="createBy" placeholder="Search for create by.." onkeyup="projectTableFilter('allProjectTable')"/>
				<br><br>
		</div>
		<br><br><br><br>
		<form action="app_projectdetail">
			<table id="allProjectTable">
				<thead>
					
						<th>Number</th>
						<th>
							Project title</th>
						<th>
							Create date</th>
						<th>
							Start date</th>
						<th>
							End date</th>
						<th>
							Create by</th>
						<th>
							Show details</th>
				</thead>
				<tbody>
					{% for index, item in allprojects %}
						<tr>
							<td>
								{{index + 1 }}</td>
							<td>{{item.title}}</td>
							<td>
								{{item.createDate}}</td>
							<td>
								{{item.startDate}}</td>
							<td>
								{{item.endDate}}</td>
							<td>{{item.user.users.firstname}}</td>
							<td>
								<button type="button">
									<a href="{{ 'details?prjd=' ~ item.id}}">
										Show Details
									</a>
								</button>
							</td>
						</tr>

					{% endfor %}
				</tbody>
			</table>
		</form>
	</div>


{% endblock %}
