{% extends '@backend/backendmanagement.html.twig' %}
{% block style %}
	<link rel="stylesheet" href="{{asset('public/css/backendUserRight.css')}}">
	<link rel="stylesheet" href="{{asset('public/css/backendcontent.css')}}">
{% endblock %}
{% block backendcontentright %}
	<div id="allUseright" style="position:relative;">

		<h2>{{value}}</h2>

		{% for index ,x in userRights %}

			<div id='{{"rightDetails" ~ index}}' style=' padding: 12px 20px;
					  margin-left: 15px;
					  border: 2px ridge rgb(212, 189, 161);
					  background-color: rgb(212, 189, 161);
					  width: 30%; float:{{(index < 3)? "left;":"right;"}}'>
				<h3>{{x.title}}
				</h3><br>
				<h5>{{x.abb}}
				</5><br>
				<p>{{x.desc}}
				</p><br>
			</diV>
			<br>

		{% endfor %}

	</div>
{% endblock %}
