{% extends '@backend/backendbase.html.twig' %}
{% block title %}
	<title>Backend management</title>
{% endblock %}
{% block scripts %}{% endblock %}
{% block meta %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{asset('public/css/backendcontent.css')}}">
{% endblock %}

{% block content %}
	<div id="contentparent">

		<div id="parentContentContainer">
			<div id="contentContainerLft">
				<div id="logoContainer">
					<div id="backendlogo"><img id="imagelogo" src="{{ asset('public/images/logognj.png') }}" alt="logo">
					</div>
				</div>


				<div id="backendContentMenusTop" class="navbar">
					<div class="subnav">
						<button class="subnavbtn">Menu management
							<i class="fa fa-caret-down"></i>
						</button>
						<div class="subnav-content">
							<a href="/backendmanagement/menumanagement/rootmenucreategui">Create root menu</a>
							<a href="/backendmanagement/menumanagement/creatertsbgui">Create root sub menu</a>
							<a href="/backendmanagement/menumanagement/createsbsbmengui">Create menu of sub menu</a>
						</div>
					</div>
					<div class="subnav">
						<button class="subnavbtn">Page management
							<i class="fa fa-caret-down"></i>
						</button>
						<div class="subnav-content">
							<a href="/backendmanagement/pagecontentmanagement/pgcontentGui">Create menu content</a>
							<a href="#">Show all page</a>
							{# <a href="#">creat contents</a> #}
							{# <a href="#">update page contents</a> #}
						</div>
					</div>
					<div class="subnav">
						<button class="subnavbtn">Login data management<i class="fa fa-caret-down"></i>
						</button>
						<div class="subnav-content">
							<a href="/backendmanagement/logindatamanagement/showLoginRightMgt">Login permission management</a>
							<a href="/backendmanagement/logindatamanagement/all">All login</a>
							<a href="/backendmanagement/logindatamanagement/resetLoginPasswordGui?lgf=r">Reset password</a>
							<a href="/backendmanagement/logindatamanagement/resetLoginPasswordGui?lgf=i">Insert login user</a>
						</div>
					</div>

					<div class="subnav">
						<button class="subnavbtn">User right management<i class="fa fa-caret-down"></i>
						</button>
						<div class="subnav-content">
							<a href="/backendmanagement/userrightmanagement/createUserRightGui">Create user right</a>
							<a href="/backendmanagement/userrightmanagement/all">Show all rights</a>
							<a href="/backendmanagement/userrightmanagement/updateRightDefGui">update rights</a>
						</div>
					</div>

					<div class="subnav">
						<button class="subnavbtn">User management<i class="fa fa-caret-down"></i>
						</button>
						<div class="subnav-content">
							<a href="/backendmanagement/usermanagement/insertUserGui">Insert new user</a>
							<a href="/backendmanagement/usermanagement/all">All user</a>
							<a href="/backendmanagement/usermanagement/updateAnyProfileGui">Update user</a>
							<a href="/backendmanagement/usermanagement/updateUserGui">My profile: [{{app.user.userIdentifier}}]</a>
						</div>
					</div>

					<div class="subnav">
						<button class="subnavbtn">Template Design<i class="fa fa-caret-down"></i>
						</button>
						<div class="subnav-content">
							<a href="/backendmanagement/htmltemplatemanagement/htmlTemplateGui">Insert template</a>
							<a href="/backendmanagement/htmltemplatemanagement/allhtmlTplates">Show all template</a>

						</div>
					</div>
					<div class="subnav">
						<button class="subnavbtn">Employees activities<i class="fa fa-caret-down"></i>
						</button>
						<div class="subnav-content">
							<a href="#">Insert project</a>
							<a href="#">
								All Projects</a>
							<a href="#">Create global message sharing</a>
							<a href="#">My works</a>
						</div>
					</div>
					<!--<div class="subnav">
																															
																															<button class="subnavbtn"><a href="{{ path('app_logout') }}">Logout [{{ app.user.userIdentifier }}]</a></button>
																														</div>-->
				</div>

				<div id="backendContentCenter">
					{% block backendcontentright %}

						<div id="backendDashboard" class="containerDashboard">
							<a href="/backendmanagement/menumanagement" style="margin-left:5%;">
								<div id="menu" class="dashboard">
									<img src="public/images/menuImg.png" >
									Menu management
								</div>
							</a>
							<a href="#" style="margin-left:5%;">
								<div id="menu" class="dashboard">
									<img src="public/images/contentImg.png" width="40px" height="40px">
									Page content management
								</div>
							</a>
							<a href="#" style="margin-left:5%;">
								<div id="menu" class="dashboard">
									<img src="public/images/loginImg.png" width="40px" height="40px">
									Login data management
								</div>
							</a>
							<a href="#" style="margin-left:5%;">
								<div id="menu" class="dashboard">
									<img src="public/images/permissionImg.png" width="40px" height="40px">
									user roles management
								</div>
							</a>
							<a href="#" style="margin-left:2%;">
								<div id="menu" class="dashboard">
									<img src="public/images/usersImg.jpeg" width="40px" height="40px">
									users management
								</div>
							</a>

							<a href="#" style="margin-left:2%;">
								<div id="menu" class="dashboard">
									<img src="public/images/templateImg.png" width="40px" height="40px">
									Template definition
								</div>
							</a>

							<a href="#" style="margin-left:2%;">
								<div id="menu" class="dashboard">
									<img src="public/images/employeesImg.png" width="40px" height="40px">
									Employees activities
								</div>
							</a>
						</div>


					{% endblock %}
				</div>

				<div id="contentfooter">

					<div id="leftfooterContainer"></div>
					<div id="rightfooterContainer"></div>
				</div>
			</div>
			<div id="contentContainerRgt">
				<div style="border:1px solid #000; background-color:#fff; background-color:black; ">
					<img src="/public/uploads/{{(app.user.users.picture)? app.user.users.picture:'tlogo.jpg'}}" width="70%" height="70px" style="margin-left:15%;border:1px solid #ff; background-color:#fff; border-radius:70%;"/>

					<div style="border:0px ridge #fff; margin-top:0%; padding:12px 20px;word-break: break-all; border-radius:10%; color:#fff; font-size:10px;">
						{{ app.user.users.firstname }},{{ app.user.users.lastname }}<br>
						{{ app.user.users.email }}

					</div>

					<div style="border:1px solid #fff;  height:10%;">
						<button>
							{# <a href="{{ path('app_logout') }}">Logout
													</a> #}
							<a href="{{ path('app_handling_logout') }}">Logout
							</a>

						</button>
					</div>
				</div>
				<div style="border:1px solid #fff; margin-top:2%; height:auto;margin-top:20%;">
					<div id="usronline"></div>
					 <script>
											getUserOnline('/backendmanagement/useronline/alluseronline', 'usronline');
										</script>
				</diV>
			</div>
		</div>
		<div>
		{% endblock %}
