{% extends '@backend/backendbase.html.twig' %}
{% block style %}
	<link rel="stylesheet" href="{{asset('public/css/backendcontent.css')}}">
{% endblock %}
{% block scripts %}
	<script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/actions.js') }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<div id="changePasswordgui">
    <div style="margin-left: 15%; "><img id="imagelogo" src="{{ asset('public/images/logognj.png') }}" style="width:70%; height:50%; position: relative; border: 1px solid #fff;"></div><br>
		<br> <br><br>
     <h1 style="margin-left:20%;"> {{value}}</h1><br><br>

    <form id="changeStdpw" action="/backendmanagement/logindatamanagement/changepassword" method="post">
    <label for="loginEmail">Email:</label><br>
    <input type="text" for="email" name="email" placeholder="example@test.com" value={{app.user.userIdentifier}} disabled/><br><br>
    <label for="Password1">Password:</label><br>
    <input type="password" for="password1" id="password1" name="password1" oninput="typingPasswordCheck()" required/><br><br>
    <label for="Password2">Repeat password:</label><br>
    <input type="password" for="password2" id="password2" name="password2" oninput="typingPasswordCheck()" required/><br><br>
    <input type="submit" for="submit" id="sumbitchangepw" value="Do change" disableb=true/>
    </form>
    <a href="{{ path('app_logout') }}" style="margin-left:15px; text-decoration: none; font-size:20px"> &#10229; Back</a>
    <p id="pwcmp"/>
</div>
{% endblock %}