{% extends '@backend/backendmanagement.html.twig' %}
{% block style %}
	<link rel="stylesheet" href="{{asset('public/css/menus.css')}}">
	<link rel="stylesheet" href="{{asset('public/css/backendcontent.css')}}">
{% endblock %}
{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/actions.js') }}"></script>
	<script language="JavaScript" type="text/javascript" src="{{ asset('public/scripts/MenuMgActions.js') }}"></script>

{% endblock %}
{% block backendcontentright %}

	<div class="menucontainer" id="menucontainerparent">
		<div id="leftcontainer">
			<h2>
				{{ value }}
			</h2>
			<form action="creatertsb" method="POST" id="creatRootSubMenu">
				<label for="rootmenu">Choose root menu:</label><br>
				<select name="rootmenu" id="rootmenu" onchange="showMenuRtSbMenuStructure('mgrp','rootmenu','rightcontainer')">
					<option value=""></option>
					{% for item in rootmenus %}
						<option value="{{item.id}}" {{ (item.id == selected)?'selected':'' }}>{{item.title}}</option>
					{% endfor %}
				</select><!--<button onclick="showMenuRtSbMenuStructure('rtsbm','rootmenu','rightcontainer')">Sub menu structure</button>--><br><br>
				<label for="submenuTitle">Enter new sub menu:</label><br>
				<input type="text" id="submenuTitle" name="submenuTitle" oninput="chooseRootMenu()" required /><br><br>
				<input type="submit" value="Create sub menu" id="sendSubMenu" disabled/><br><br>
			</form>
			<h4 style="{{cssResponse}}" id="formaction">{{response}}</h4>
		</div>
		<div id="divider"></div>
		<div id="rightcontainer">
		 <script>
		 	showMenuRtSbMenuStructure('mgrp','rootmenu','rightcontainer')
		 </script>
		</div>
	</div>

	<script>

		function chooseRootMenu() {
const val1 = document.getElementById("rootmenu").value;
const val2 = document.getElementById("submenuTitle").value;
document.getElementById("sendSubMenu").disabled = true;
if (val1 && val2.trim()) {
document.getElementById("sendSubMenu").disabled = false;
}
}

function getRootSubMenu() {
const id = document.getElementById("rootmenu").value;
$("#creatRootSubMenu").append('<input type="hidden" name="selectedRootMenu" value="' + id + '" />');
if (id) {
document.getElementById("creatRootSubMenu").submit();
}
}
	</script>
{% endblock %}
