{% extends '@backend/backendmanagement.html.twig' %}
{% block style %}
	<link rel="stylesheet" href="{{asset('public/css/backendUserRight.css')}}">
	<link rel="stylesheet" href="{{asset('public/css/backendcontent.css')}}">
{% endblock %}
{% block backendcontentright %}
	<div id="updateuserrightgui">
		<h2>{{value}}</h2>
		<h4 style="{{cssResponse}}">{{response}}</h4>
		<form action="/backendmanagement/userrightmanagement/create" method="post" id="updateUR">
			<label for="righttitle">choose title to be updated:</label><br>
			<select name="selectedtitle" id="selectedtitle" onchange="searchRight('selectedtitle','getrightbyid','righttitle','abbreviation','description')">
				<option value=""></option>
				{% for x in userRights %}
					<option value="{{x.id}}">{{x.rightTitle}}
					</option>
				{% endfor %}
			</select><br><br>
			<label for="title">Right title:</label><br>
			<input type="text" id="righttitle" name="righttitle" value=""><br><br>
			<label for="abbreviation">Abbreviation:</label><br>
			<input type="text" id="abbreviation" name="abbreviation" value=""><br><br>
			<label for="description">Description:</label><br>
			<textarea id="description" name="description" rows="10" cols="70" value=""></textarea><br><br>
			<input type="hidden" id="action" name="action" value="update">
		<input type="submit" id="userrightsubmit" value="Update right">
	</form>
	
</div>{% endblock %}
